:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bg-color: #1779ba;
}
* {
    box-sizing:border-box;
    margin: 0 auto;
}

body, html {
    margin: 0 auto;
    height: 100%;
    
}

.subnav-hero-section {
    text-align: center;
    background: #1779ba;
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  
.subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }
  
.subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }

.hero {
    background-color: lightgray;
    height: 300px;
  }

.container {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: var(--bg-color);
    height: 300px;
    overflow:hidden;
  
}

.container h1 p {
    background-color: var(--bg-color);
}







  
  















// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }